@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

p {
  font-size: 1rem;
  color: var(--primary-foreground);
}

h1 {
  font-size: var(--text-2xl--line-height);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-950);
}

h2 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--color-gray-950);
}

a {
  font-weight: 500;
  color: oklch(0.6869 0.0873 316.74);
  text-decoration: inherit;
}

a:hover {
  color: oklch(0.6869 0.0873 270.8);
}