:root {
  --background: hsl(50, 83%, 74%);
  --foreground: hsl(222.2, 84%, 4.9%);

  --card: hsl(240, 5%, 96%);
  --card-foreground: hsl(222.2, 84%, 4.9%);

  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(222.2, 84%, 4.9%);

  --primary: hsl(92, 33%, 56%);
  --primary-foreground: hsl(222.2, 47.4%, 11.2%);

  --secondary: hsl(28, 88%, 65%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);

  --muted: hsl(160, 22%, 46%);
  --muted-foreground: hsl(222.2, 47.4%, 11.2%);

  --accent: hsl(49, 71%, 47%);
  --accent-foreground: hsl(222.2, 84%, 4.9%);

  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(180, 0%, 100%);

  --border: hsl(28, 88%, 65%);
  --input: hsl(46, 87%, 49%);
  --ring: hsl(222.2, 84%, 4.9%);

  --radius: hsl(0.2rem);

  --success: hsl(135, 61%, 44%);
  --success-foreground: hsl(180, 0%, 100%);

  --warning: hsl(34, 80%, 46%);
  --warning-foreground: hsl(222.2, 84%, 4.9%);

  --error: hsl(0, 84.2%, 60.2%);
  --error-foreground: hsl(180, 0%, 100%);

  --header-height: 5rem;
  --footer-height: 4rem;
}

[data-theme='dark'] {
  --background: hsl(39, 9%, 32%);
  --foreground: hsl(180, 0%, 100%);

  --card: hsl(47, 27%, 17%);
  --card-foreground: hsl(180, 0%, 100%);

  --popover: hsl(47, 27%, 17%);
  --popover-foreground: hsl(180, 0%, 100%);

  --primary: hsl(80, 100%, 1%);
  --primary-foreground: hsl(180, 0%, 100%);

  --secondary: hsl(39, 9%, 32%);
  --secondary-foreground: hsl(180, 0%, 100%);

  --muted: hsl(216, 17%, 56%);
  --muted-foreground: hsl(222.2, 47.4%, 11.2%);

  --accent: hsl(207, 49%, 65%);
  --accent-foreground: hsl(222.2, 84%, 4.9%);

  --destructive: hsl(0, 84.2%, 60.2%);
  --destructive-foreground: hsl(180, 0%, 100%);

  --border: hsl(39, 9%, 32%);
  --input: hsl(207, 67%, 48%);
  --ring: hsl(222.2, 84%, 4.9%);

  --radius: hsl(0.2rem);

  --success: hsl(135, 61%, 44%);
  --success-foreground: hsl(180, 0%, 100%);

  --warning: hsl(34, 80%, 46%);
  --warning-foreground: hsl(222.2, 84%, 4.9%);

  --error: hsl(0, 84.2%, 60.2%);
  --error-foreground: hsl(180, 0%, 100%);

  --header-height: 5rem;
  --footer-height: 4rem;
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
} */

@theme {

  --font-sans: InterVariable, sans-serif;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-button: var(--accent);
  --color-button-border: var(--border);
  --color-button-hover: var(--input);
  --color-button-foreground: var(--accent-foreground);
  
  --animate-fadeInFast: fadeIn 2s forwards;
  --animate-fadeInSlow: fadeIn 6s forwards;
  --animate-fadeIn: fadeIn 4s forwards;
  --animate-fadeInAnswer: fadeIn 1.5s forwards;
  --animate-fadeInShowAnswer: fadeIn 2s forwards;
  --animate-fadeInOutFast: fadeInOut 2s forwards;
  --animate-fadeInOut: fadeInOut 4s forwards;
  --animate-fadeInOutSlow: fadeInOut 6s forwards;
  --animate-blinkText: blinkText 6s linear;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    25%,75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes blinkText {
    100% {
        color: var(--background); 
    }
    90% {
        color: var(--primary-foreground); 
    }
    80% {
        color: var(--background); 
    }
    70% {
        color: var(--primary-foreground);
    }
    60% {
        color: var(--background); 
    }
    50% {
        color: var(--primary-foreground); 
    }
    40% {
        color: var(--background); 
    }
    30% {
        color: var(--primary-foreground);
    }
    20% {
        color: var(--background); 
    }
    10% {
        color: var(--primary-foreground); 
    }
  }
}
